*{
  padding: 0;
  margin: 0;

}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: yellow;

}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  background-color: silver;
  grid-gap: 10px;
  grid-template-rows: 100vh;


}

.key {
  border: 2px solid black;
  text-align: center;
  width: 50px;
  height: 50px;
  margin-left:auto;
  margin-right: auto;
  transition: all 0.07s;
  background: rgba(0,0,0,0.4);
  display: grid;
  align-self: center;
  justify-self: center;
}
p {
  color: white;
}
span {
  color: yellow;
}
.playing {
  transform: scale(1.1);
  border-color: yellow;
}
